<a href="https://colab.research.google.com/github/adgcal/Anjan_collab_R/blob/main/2_DataFrames_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# R curiosity (Variables and Data Frames) 
## Bioinformatics Essentials
### Anjan Kr Dasgupta (adgcal@gmail.com)

In [ ]:
x<-pi 
cat("pi=",x,"\n")
y <- 10L# L means integer
cat("y=",y,"\n")
z=TRUE 
cat("z=",z,"\n")
name = "Krishna"
cat("name=",name)

pi= 3.141593
y= 10
z= TRUE
name= Krishna

# Variable  Class

In [ ]:
class(x)
class(y)
class(z)
class(name)

[1] "numeric"

[1] "integer"

[1] "logical"

[1] "character"

# Factors 
## Plant growth is tested in three soil types

In [ ]:
soil_type <- factor(c("Loam", "Sand", "Clay", "Loam", "Clay", "Sand", "Sand"))
plant_growth <- c(20, 15, 10, 18, 12, 14, 16)
model <- lm(plant_growth ~ soil_type)
summary(model)

### Levels of soil type

In [ ]:
levels(soil_type)

[1] "Clay" "Loam" "Sand"

# The Same problem tackled by not invoking factor

In [ ]:
soil_loam <- c(1, 0, 0, 1, 0, 0, 0)
soil_sand <- c(0, 1, 0, 0, 0, 1, 1)
soil_clay<- c(0,0,1,0,1,0,0)
model <- lm(plant_growth ~ soil_loam + soil_sand+soil_clay)
summary(model)

Call:
lm(formula = plant_growth ~ soil_loam + soil_sand + soil_clay)

Residuals:
         1          2          3          4          5          6          7
 1.000e+00  1.443e-15 -1.000e+00 -1.000e+00  1.000e+00 -1.000e+00  1.000e+00

Coefficients: (1 not defined because of singularities)
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   11.000      0.866  12.702 0.000221 ***
soil_loam      8.000      1.225   6.532 0.002838 **
soil_sand      4.000      1.118   3.578 0.023215 *
soil_clay         NA         NA      NA       NA
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.225 on 4 degrees of freedom
Multiple R-squared:  0.9143,	Adjusted R-squared:  0.8714
F-statistic: 21.33 on 2 and 4 DF,  p-value: 0.007347

# A simple dataframe

In [ ]:
df <- data.frame(
  name = c("Amal", "Bimal", "Kamal","Indrajit"),
  age = c(25, 30, 35,20),
  is_optimistic = c(TRUE, FALSE, FALSE,TRUE)
)
# How to tabulate a dataframe
knitr::kable(df)

|name     | age|is_optimistic |
|:--------|---:|:-------------|
|Amal     |  25|TRUE          |
|Bimal    |  30|FALSE         |
|Kamal    |  35|FALSE         |
|Indrajit |  20|TRUE          |


|name     | age|is_optimistic |
|:--------|---:|:-------------|
|Amal     |  25|TRUE          |
|Bimal    |  30|FALSE         |
|Kamal    |  35|FALSE         |
|Indrajit |  20|TRUE          |